/* css reset */

*{
    font-family: 'poppins';
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.nav__list a{
    color: #fff;
    font-size: 1.4rem;
}

.nav__list i{
    width: 20px;
    height: 20px;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-size: 22px;
}

header{
    width: 100%;
    background-color: #0C2D57;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.nav__list{
    display: flex;
    gap: 1.7rem;
}

header.sticky{
    backdrop-filter: blur(35px);
    padding: 27px;
    box-shadow: 0px 2px 3px #000
}

#menu-icon{
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 30px;
    display: none;
    z-index: 100;
}
section.sulteng{
    min-height: 100vh;
    padding-top: 9rem;
    background-color: #18A0FB;
    display:flex ;
    justify-content: center;
}

.sulteng-content{
    max-width: 800px;
    padding: 30px;
}

.sulteng-content h1{
    color: #fff;
    font-size: 7.5rem;
    text-align: center;
}

.sulteng-content p{
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.4rem;
}

section.bawa-diri{
    padding: 100px;
}

.bawa-diri-teks{
    margin: 0 auto;
    max-width: 500px;
}

.bawa-diri-teks h3{
    text-align: center;
    font-size: 1.7rem;
}


.bawa-diri-opsi{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    justify-content: space-evenly;
    gap: 1rem;
}

.box{
    text-align: center;
}

.box i{
    font-size: 1.8rem;
    margin: 20px 0;
}

.bawa-diri-opsi .box{
    max-width: 250px;
    padding: 20px;
    background-image: linear-gradient(to bottom,rgb(255, 255, 255) 11%,rgb(255, 194, 194) 85%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.box h4{
    margin-bottom: 20px;
}

.box p{
    margin-bottom: 20px;
}

section.sejarah-sulawesi{
    background-image: url(img/sejarah-background.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}

.sejarah-content{
    color: #fff;
    text-align: center;
}

.sejarah-content h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sejarah-content p{
    font-size: 2.3rem;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.sejarah-content .sejarah-btn{
    color: #000;
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 1.4rem;
}

.acara{
    padding: 60px;
    background-color: #18A0FB;
}

.acara h3{
    color: #fff;
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.box-luar{
    width: 70%;
    /* height: 300px; */
    background-image: linear-gradient(to right,rgb(254, 119, 81) 41%,rgb(57, 206, 255) 94%);
    color: #fff;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    border-radius: 2rem;    
    margin-bottom: 2rem;
}

.box-teks .teks-atas h4{
    font-size: 1.1rem;
    margin: 30px 0;
}

.box-teks .teks-bawah p{
    font-size: 1.2rem;
    line-height: 35px;
    margin-right: 15px;
}

.box-teks .teks-atas{
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.box-kecil .gambar{
    width: 275px;
    height: 275px;
    border-radius: 2rem;
}

.box-kecil .gambar img{
    width: 100%;
    height: 275px;
    border-radius: 2rem;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.75);
}

section.tari{
    padding:2rem;
    background-image: url(img/tari-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.4);    
}

.tari a{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #18A0FB;
    color: #fff;
    font-size: 1.3rem;
}

.tari .tari-btn{
    margin: 3rem 0;
    text-align: center;
}

.tari-container{
    display: flex;
    justify-content: space-around;    
    gap: 1rem;
    flex-wrap: wrap;
}

.box-tari{
    max-width: 400px;
    border-radius: 2rem;
    min-width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    
}

.box-tari img {
    width: 100%;
    border-radius: 2rem;
}

.box-tari p{
    position: absolute;
    bottom: 7%;
    color: #fff;
    font-size: 2rem;
}

.tari .tari-teks h4{
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 2rem;
}

/* destinasi */

section.destinasi{
    background: linear-gradient(to bottom,rgb(52, 194, 255) 31%,rgb(255, 255, 255) 75%);
    padding-top: 1.5rem ;
    padding-bottom: 3rem;
}

section.destinasi h3{
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}


.destinasi-img{
    width: 540px;
    border-radius: 2rem; 
}
.destinasi-img img{
    width: 100%;
    border-radius: 2rem;
}

.destinasi-content{
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.destinasi-teks{
    padding: 1.8rem;
    position: relative;
}

.destinasi-teks h2{
    font-weight: 500;
    font-size: 3rem;
}

.destinasi-teks p{
    font-size: 1.8rem;
    font-weight: 500;
    word-spacing: 5px;
}


.destinasi-btn{
    padding: .7rem 2.4rem;
    background-color: #0C2D57;
    color: #fff;
    border-radius: 3rem;
    position: absolute;
    bottom: 15px;
    right: 40px;
    font-size: 20px;
    text-transform: uppercase;
    outline: none;
}

/* kuliner */

section.kuliner{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-image: url(img/kuliner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}

.kuliner h4{
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.kuliner .card-kuliner-atas p{
    color: #fff;
    font-size: 1.6rem;
    text-align: right;
    padding: 1rem;
    max-width: 600px;
}

.card-kuliner-atas{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.kuliner-img{
    max-width: 400px;
}

.kuliner-img img{
    width: 100%;
    border-radius: 3rem;
}

.kuliner h4{
    font-size: #fff;
}

.kuliner .card-kuliner-bawah{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.kuliner .card-kuliner-bawah p {
    color: #fff;
    font-size: 1.6rem;
    text-align: left;
    padding: 1rem;
    max-width: 600px;
}

.kuliner-button{
    width: 50%;
    margin: 0 auto;
    text-align: right;
}

.kuliner-button a{
    position: absolute;
    bottom: 20px;
    color: #fff;
    padding: 1rem;
    background-color: #18A0FB;
    border-radius: 2rem;
    font-weight: 400;
    font-size: 1.3rem;
}















/* maka a responsive */
@media (max-width:1250px){
    .box-teks .teks-atas h4{
        margin-top: 20px;
        margin-bottom: 5px;
    }   

    .box-teks .teks-bawah p{
        font-size: 1rem;
        padding: 5px;
    }

    .destinasi-img{
        width: 440px;
    }

}

@media (max-width:1083px) {
    
    .box-kecil{
        margin: 0 auto;

    }
    
    .box-luar{
        flex-wrap: wrap;
        padding: 10px;
    }

    .box-kecil{
        margin-top: 15px;
    }
    
    .box-luar{
        max-width: 550px;    
    }

    .box-teks .teks-atas h4{
        margin-left: 10px;
    }

    .box-teks .teks-bawah p{
        line-height: 30px;
        padding: 10px;
    }

    .destinasi h3{
        font-size: 1.8rem;
    }
    
    .destinasi h2{
        font-size: 2.5rem;
    }

    .destinasi p{
        font-size: 1.4rem;
        word-spacing: 2px;
    }

    .destinasi-img{
        width: 400px;
    }
    .kuliner h4{
        margin-bottom: .7rem;
    }
    .kuliner .card-kuliner-atas p,.kuliner .card-kuliner-bawah p{
        font-size: 1.4rem;
    }

    .kuliner-img{
        max-width: 300px;
    }

    section.kuliner{
        padding: 10%;
    }

}

@media (max-width:945px) {
    header{
        padding: 14px;
    }
    .nav__list a{
        font-size: 1.1rem;
    }
    .nav__list i{
        font-size: 17px;
    }

    .sulteng-content h1{
        font-size: 6.5rem;
    }

    .sulteng-content p{
        font-size: 1.3rem;
        line-height: 1.9rem;
    }

    .bawa-diri-opsi{
        justify-items: center;
    }

    .sejarah-content h3{
        font-size: 2rem;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .sejarah-content p{
        font-size: 1.3rem;
    }

    .destinasi h3{
        font-size: 1.1rem;
    }

    .destinasi-teks{
        padding-top: 8px;
    }

    .destinasi h2{
        font-size: 2.1rem;
    }

    .destinasi p{
        font-size: 1.2rem;
        word-spacing: 1.5px;
    }

    .destinasi-img{
        width: 350px;
    }

    .destinasi-btn{
        padding:.5rem 2.2rem;
        font-size: 15px;
    }

}

@media (max-width:700px){
    header{
        justify-content: space-between;
    }
    .nav__list{
        position: absolute;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: -100%;
        bottom: 0;
        background-color: #0C2D57;
        padding: 20px;
        margin-top:5.8rem ;
        transition: all .7s ease-in;
    }

    .nav__list a{
        font-size: 1.3rem;
    }

    .nav__list a:hover{
        border-bottom: 2px solid #fff;
    }
    #menu-icon{
        display: block  ;
        z-index: 10;
    }

    .nav__list.show{
        right: 0;
        transition: all .7s;
    }

    .sulteng-content h1{
        font-size: 5.8rem;
    }

    .sulteng-content p{
        font-size: 1.1rem;
        line-height: 1.7rem;
    }
    .bawa-diri-opsi{
        justify-items: center;
    }

    .sejarah-content h3{
        font-size: 1.8rem;
    }
    .sejarah-content p{
        font-size: 1.1rem;
    }

    .destinasi-content{
        grid-template-columns: 1fr
    }

    .destinasi-img{
        margin: 0 auto;
        max-width: 400px;
    }

    .destinasi-button{
        text-align: center;
        margin-top: 2.5rem;
    }

    .destinasi-btn{
        position: unset;
        margin: 0 auto;
    }

    .kuliner .card-kuliner-atas,.card-kuliner-bawah{
        flex-direction: column;
    }

    .kuliner .card-kuliner-atas p,.kuliner .card-kuliner-bawah p{
        text-align: left;
    }

    .kuliner-img{
        max-width: 500px;
        margin: 0 auto;
    }

    .kuliner-button{
        text-align: center;
        background-color: aliceblue;
    }

    .kuliner-button a{
        padding: .4rem .6rem;
    }


}

@media (max-width:590px){
    .acara{
        padding: 30px;
    }
}

@media (max-width:510px){
    .acara{
        padding: 10px;
    }
}

@media (max-width:485px){
    .box-kecil .gambar{
        width: 220px;
        height: 220px;
    }

    .box-kecil .gambar img{
        height: 220px;
    }
}



@media(max-width:480px){

    .sulteng-content h1{
        font-size: 4.6rem;
    }

    .sulteng-content p{
        font-size: .7rem;
        line-height: 1.2rem;
    }

    .sulteng-content{
        padding: 10px;
    }
    section.bawa-diri{
        padding: 30px;
    }
    .bawa-diri-teks h3{
        font-size: 1.2rem;
    }

    .box{
        margin: 0 auto;
    }

    .destinasi h3{
        font-size: .9rem;
    }

    .destinasi-img{
        max-width: 300px;
    }

}

@media (max-width:390px){
    .box-luar{
        padding: 20px;
    }

    .box-teks .teks-atas{
        flex-direction: column;
    }

    .box-teks .teks-atas h4{
        font-size: .9rem;
        margin: 10px 0;
    }   

    .box-teks .teks-bawah p{
        font-size: .8rem;
    }

    .box-kecil .gambar{
        width: 180px;
        height: 180px;
    }

    .box-kecil .gambar img{
        height: 180px;
    }

    .destinasi h2{
        font-size: 1.9rem;
    }

    .kuliner-button a{
        font-size: .9rem;
    }

    .kuliner .card-kuliner-atas p,.kuliner .card-kuliner-bawah p{
        font-size: .9rem;
    }

}


@media(max-width:380px){

    .bawa-diri-teks{
        display: flex;
        justify-content: center;
    }

    
    .bawa-diri-opsi{
        grid-template-columns: repeat(auto-fit,minmax(230px,auto));
    }

    .bawa-diri-teks h3{
        font-size: .9rem;
        max-width: 200px;
    }

    .bawa-diri-opsi .box{
        max-width:220px;
    }

    .bawa-diri-opsi{
        text-align: center;
    }

    .box i{
        font-size: 1.5rem;
    }

    .box p{
        font-size: .8rem;
    }

    .sejarah-content h3{
        font-size: 1rem;
    }
    .sejarah-content p{
        font-size: 1rem;
    }

    .box-teks .teks-bawah p{
        line-height: 25px;
    }

    .destinasi-content{
        padding: 0;
    }

    section.destinasi{
        padding-top: .5rem;
    }
    
    .destinasi h3{
        padding-bottom: 0;
        margin-bottom: 0;
        font-size: .8rem;
    }
    
}

@media (max-width:350px){
    .bawa-diri-opsi{
        padding: 0;
    }
    .destinasi-img{
        width: 250px;
    }
}

@media (max-width:320px){
    .sulteng-content h1{
        font-size: 3rem;
    }

    .sulteng-content p{
        font-size: .5rem;
        line-height: .9rem;
    }

    .bawa-diri-opsi{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    }

    .box-kecil .gambar{
        width: 130px;
        height: 130px;
    }

    .box-kecil .gambar img{
        height: 130px;
    }

    .destinasi-img{
        width: 200px;
    }

    .kuliner-button a{
        font-size: .7rem;
    }

}



